{% extends 'core/base.html' %}


{% block title %}Romina Herrera{% endblock %}
{% block background %}{% load static %}{% static 'core/img/soyyyy.png' %}{% endblock %}
{%block heders%}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <div class="row">   
              <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
              </div>
              <div class="col-lg-7 col-md-8">
                <h2 class="section-heading">Sobre mi</h2>   
                
                <p>¡Hola! Soy Romina, estudiante apasionada de <strong>Desarrollo Web y de Apps Móviles</strong> en el Instituto Superior Politécnico de Córdoba. Mi trayectoria incluye formación a través del programa Oracle Next Educationen en desarrollo <strong>frontend, UX UI, backend, testing, ciencia de datos y emprendimiento</strong>. Actualmente finalice la cursada en el programa Codo a Codo la ruta de <strong>Developer full stack con Django</strong>. Además, completé el diplomado en <strong>Administración de Instituciones</strong>, ampliando mis conocimientos en <strong>gestión de recursos, marketing y administración de proyectos</strong>.
                </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-12">
                        <h4 class="navmap-list-title navmap-list-title-backend">Tecnologías</h4>
                        <ul>
                            <li>Desarrollo Frontend: HTML, CSS, JavaScript, Angular, Bootstrap, WordPress</li>
                            <li>UX UI: Diseño de interfaces, Prototipado</li>
                            <li>Desarrollo Backend: Django, Java, sql</li>
                            <li>Testing: Selenium</li>
                            <li>Ciencia de Datos: Python, Pandas, NumPy</li>
                            <li>Metodologías de Trabajo: Agile/Scrum</li>
                            <li>Desarrollo Móvil: Android Studio, Java</li>
                        </ul>
                    <div class="col-lg-6">
                        <h4 class="navmap-list-title navmap-list-title-backend">Herramientas</h4>
                        <ul>
                            <li>⚙️ Notion</li>
                            <li>⚙️ Git</li>
                            <li>⚙️ Trello</li>
                            <li>⚙️ Github</li>
                            <li>⚙️ Figma</li>
                        </ul>
                    </div>
                </div>
            </div>  
                <div class="row">
                <div class="col-lg-12">
                  <h4 class="navmap-list-title navmap-list-title-backend">Cursos y habilidades</h4>
                  <ul>
                    <li>Diseño y UX/UI: Fundamentos del diseño, UX/UI, Figma</li>
                    <li>Desarrollo Móvil: Android Studio, Java</li>
                    <li>Fotografía: Fotografía de producto, Edición en Lightroom y Photoshop</li>
                    <li>Marketing Digital: Community Manager</li>
                    <li>Habilidades: Comunicativa, Muy buena trabajo en equipo, Responsable, Resolutiva</li>
                  </ul>
                  </div>
                </div>
                </div>
                  {% comment %} <div class="col-lg-10 text-center" style="margin: 100px; padding: 80px;"> {% endcomment %}
                    <div class="col-lg-10 col-md-12 text-center mx-auto" style="margin: 50px; padding: 40px;">
                    <h2 style="font-weight: bold;">Con entusiasmo y dedicación, estoy dando mis primeros pasos en el mundo del desarrollo web y UX/UI. Si buscas alguien comprometida y dispuesta a aprender, estaré encantada de ser parte del proyecto. ¡Hagamos equipo!</h2>
                    
                    {% comment %} <p style="font-weight: bold;">Con entusiasmo y dedicación, estoy dando mis primeros pasos en el mundo del desarrollo web y UX/UI. Si buscas alguien comprometida y dispuesta a aprender, estaré encantada de ser parte del proyecto. ¡Hagamos equipo!</p> {% endcomment %}
                </div>
              </div>
                </div>
              </div>
            </div>  
          </div>
          

</div>  
</div>
{% comment %} {% block content %} {% endcomment %}
{% endblock %}