{% extends 'core/base.html' %}


{% block title %}Romina Herrera{% endblock %}
{% block background %}{% load static %}{% static 'core/img/cartas.jpg' %}{% endblock %}
{%block heders%}
<h1>Contacto</h1>
<span class="subheading">Consultoria</span>
{%endblock%}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Gracias por tu interes estare encantada de recibir tu mail y me sigas en las redes para que veas mi avance en el mundo IT</p>

        <p><b>email:</b>romina-herrera@hotmail.com</p>
        <br>
      </div>
    </div>
  </div>
{%endblock%}